.imgs_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-color: black;
    border-style: solid;
}

.dragover {
    border-style: dashed;
    border-color: red;
}

.image_preview {
    width: 100%;
}
